%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}   
    %link{href: "css/960.css", rel: "stylesheet"}
    %link{href: "css/reset.css", rel: "stylesheet"}
    %link{href: "css/text.css", rel: "stylesheet"}
    %link{href: "css/estilo.css", rel: "stylesheet"}
  %body
    .container_16
      #cabecera.grid_16
        %h1 Práctica 5 SYTW - Test Unitarios, Rspec y Cookies
        .clear
    .container_16
      #top.grid_16
        #elec.grid_5.alpha
          %h3 Elija su jugada:
          -throws.map do |x|
            %a{:href=>"/?choice=#{x}"}
              %button #{x}         
          .clear
        #tabla.grid_5.alpha
          %h6 Victorias: #{estadisticas['win']}
          %h6 Derrotas #{estadisticas['lose']}  
          %h6 Empates #{estadisticas['equal']}    
          .clear
        #texto.grid_5.alpha
          %h3 Elección de la máquina:
          .clear
    .container_16
      #middle.grid_16
        #humano.grid_5.alpha
          -if player_throw == 'piedra'
            %img{src: "http://images2.wikia.nocookie.net/__cb20130329024712/thelegend-of-zelda-fanon/es/images/d/d0/Piedra.png"}
          -elsif player_throw == 'papel' 
            %img{src: "http://1.bp.blogspot.com/-gm4dfkpA4lA/UHhg6IdR1nI/AAAAAAAAAGU/gPGUw3H45tg/s1600/bola+papel.png"}
          -elsif player_throw == 'tijera' 
            %img{src: "http://luxorprofessional.com/productos/luxor_tijera-titan-pro267-r.png"}        
          -else
          .clear
        #vs.grid_5.alpha
          -if player_throw
            %img{src: "http://1.bp.blogspot.com/-y_PLAf5QAjo/UObVVUEGr2I/AAAAAAAAAUI/NHjC4t6FXDk/s200/vs.png"} 
          .clear
        #maquina.grid_5.alpha
          -if player_throw
            -if computer_throw == 'piedra'
              %img{src: "http://images2.wikia.nocookie.net/__cb20130329024712/thelegend-of-zelda-fanon/es/images/d/d0/Piedra.png"}
            -elsif computer_throw == 'papel' 
              %img{src: "http://1.bp.blogspot.com/-gm4dfkpA4lA/UHhg6IdR1nI/AAAAAAAAAGU/gPGUw3H45tg/s1600/bola+papel.png"}
            -elsif computer_throw == 'tijera' 
              %img{src: "http://luxorprofessional.com/productos/luxor_tijera-titan-pro267-r.png"}        
            -else
          .clear
    -if player_throw
      .container_16
        #botton.grid_16
          #resultado.grid_5.alpha
            %h3 El resultado obtenido es:
            .clear
          #final.grid_5.alpha
            -if player_throw == computer_throw
              #empatar
                %h4 ¡Empataste!
                -estadisticas['equal'] += 1
            -elsif player_throw == 'piedra'
              -if computer_throw == 'tijera'
                #ganar
                  %h4 ¡Ganaste!
                  -estadisticas['win'] += 1
              -else
                #perder
                  %h4 ¡Perdiste!
                  -estadisticas['lose'] += 1
            -elsif player_throw == 'papel'
              -if computer_throw == 'piedra'
                #ganar
                  %h4 ¡Ganaste!
                  -estadisticas['win'] += 1
              -else
                #perder
                  %h4 ¡Perdiste! 
                  -estadisticas['lose'] += 1      
            -elsif player_throw == 'tijera'
              -if computer_throw == 'papel'
                #ganar
                  %h4 ¡Ganaste!
                  -estadisticas['win'] += 1
              -else
                #perder
                  %h4 ¡Perdiste! 
                  -estadisticas['lose'] += 1
            -else
          .clear












